td {
  background: #eee;
  &.free {
    background: green;

    &:hover {
      background: darkgreen;
    }
  }

  &.maybe {
    background: yellow;

    &.hover {
      background: darkyellow;
    }
  }

  .empty:hover {
    background: #fff;
  }
}



#main {
  margin-top: 76px;
}
@media (min-width: 768px) {
  #main {
    margin-top: 50px;
  }
}
